<h1>Songs#index</h1>
<p>Find me in app/views/songs/index.html.erb</p>

<% @folders.each do |folder| %>
  <p> <%= folder %> </p>
  <ul>
  <% @recordings.each do |recording| %>
    <% if recording[:folder] == folder %>
      <li> <%= recording[:name] %> </li>
    <% end %>
  <% end %>
  </ul>
<% end %>
